body {
	font-family: 'Roboto Mono', monospace;
	background-image: url(images/wallpape.png);
	background-color: #bfb4f8;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.window {
	font-family: 'VT323', monospace;
	overflow-wrap: break-word;

	width: 25%;
	margin: 25px 10px;
	border: 2px solid transparent;
	border-image-source: url("images/window.png");
	border-image-slice: 27 27 27 27 fill;
	border-image-width: 20px 20px 20px 20px; 
	border-image-outset: 14px 1px 1px 1px; 
	border-image-repeat: stretch stretch;
}

.closedwindow {
	width: 25%;
	height: 1rem;

	margin: 25px 10px;

	border:2px solid black;
	
	border-image-slice: 20 27 27 27;
	border-image-width: 14px 20px 0px 20px; 
	border-image-outset: 1px 1px 1px 1px; 
	border-image-repeat: stretch stretch;

}


#cardboard-01{
	display:inline-block;
}
#cardboard-02{
	display:inline-block;	
}
#clay{
	display:inline-block;
}
#wire{
	display:inline-block;
}
#wood{
	display:inline-block;
}

#cardboard-01-closed{
	display: none;
}
#cardboard-02-closed{
	display:none;	
}
#clay-closed{
	display:none;
}
#wire-closed{
	display:none;
}
#wood-closed{
	display:none;
}

#intro-01 {
	display:inline-block;
}
#intro-02 {
	display:inline-block;
}
#intro-03 {
	display:inline-block;
}

#intro-01-closed {
	display:inline-block;
}
#intro-02-closed {
	display:inline-block;
}
#intro-03-closed {
	display:inline-block;
}





#navbar {
	list-style-type: none;
	margin: 25px 10px;
	padding: 0;
	overflow: hidden;
	background-color: #808080;

}

li {
	float: left;
}

li a {
	display: block;	
	color: white;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #bfb4f8;
}

h1 {
	font-family: 'Roboto Mono', monospace;
}

